@model MacOverflow.ViewModels.QuestionsAdminViewModel;
@{
    ViewData["Title"] = "Home Page";
    ViewBag.Current = "Admin";
}

<h3 style="margin-top: 15px">Approve or Remove Pending Questions</h3>

<div class="row" style="margin-top: 15px">
    <div class="col-lg-12">
        <div>
            @foreach (var question in Model.Questions)
            {
                <div key={id} class="card bg-dark text-white" style="width: 100%; margin-bottom: 15px">
                    <div class="card-body">
                        <h4 class="card-title">@question.User</h4>
                        <p class="card-title">@question.CreatedOnDt</p>
                        <p class="card-title">@question.RecommendedAudience</p>
                        <p class="card-title">@question.ImportanceLevel</p>
                        <p class="card-body">@question.Question</p>
                        <a type="button" asp-action="Approve" asp-route-id="@question.QuestionId" class="btn btn-success">Approve</a>
                        <a type="button" asp-action="Delete" asp-route-id="@question.QuestionId" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


