@model MacOverflow.ViewModels.ResponsesAdminViewModel;
@{
    ViewData["Title"] = "Home Page";
    ViewBag.Current = "Admin";
}

<h3 style="margin-top: 15px">Approve or Remove Pending Responses</h3>

<div class="row" style="margin-top: 15px">
    <div class="col-lg-12">
        <div>
            @foreach (var response in Model.Responses)
            {
                <div key={id} class="card bg-dark text-white" style="width: 40%; margin-bottom: 15px">
                    <div class="card-body">
                        <h4 class="card-title">@response.ParentQuestion.User</h4>
                        <p class="card-title">@response.ParentQuestion.CreatedOnDt</p>
                        <p class="card-title">@response.ParentQuestion.RecommendedAudience</p>
                        <p class="card-title">@response.ParentQuestion.ImportanceLevel</p>
                        <p class="card-body">@response.ParentQuestion.Question</p>
                    </div>
                </div>

                <div key={id} class="card bg-dark text-white" style="width: 100%; margin-bottom: 15px">
                    <div class="card-body">
                        <h4 class="card-title">@response.User</h4>
                        <p class="card-title">@response.CreatedOnDt</p>
                        <p class="card-body">@response.Response</p>
                        <a type="button" asp-action="Approve" asp-route-id="@response.ResponseId" class="btn btn-success">Approve</a>
                        <a type="button" asp-action="Delete" asp-route-id="@response.ResponseId" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


